.bokeh-list-card:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.bokeh-list-card {
    width: 800px;
    max-height: 250px;
    margin: 25px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.bokeh-list-card-text {
    padding: 0;
    margin-top: 1em;
}

.bokeh-list-card-description {
    padding: 0;
    margin-top: 1em;
}

.bokeh-list-card-cover {
    box-shadow: none;
}

.bokeh-list-card-cover img {
    width: 140px;
    height: 140px;
    object-fit: none;
}
